body {
background-image: url("https://wallpapercave.com/wp/XhaqUvr.jpg");
background-size: cover;
}
h1 {
color: darkblue;
text-align: center;
}
h2 {
color: limegreen;
font-size: 33px;
text-decoration: underline black;
}
h4 {
font-style: italic;
}

