body {
background-image: url("https://wallpapercave.com/wp/XhaqUvr.jpg");
background-size: cover;
}
h1 {
font-size: 69px;
color: darkblue;
text-align: center;
background-color: black;
}
h2 {
color: limegreen;
font-size: 33px;
text-decoration: underline black;
}
p.a {
font-style: italic;
}

