body {
background-image: url("https://wallpapercave.com/wp/XhaqUvr.jpg");
background-size: cover;
}
h1 {
font-size: 69px;
text-align: center;
}
h2 {
margin-left: 108px;
color: limegreen;
font-size: 33px;
}
h3 {
font-style: underline;
font-size: 23px;
}
h4 {
font-style: italic;
font-size: 23px;
}
ul {
font-size: 23px
}
#awards {
font-size: 23px
}
#contact {
display: block;
font-size: 23px;
text-align: center;
}
#definition {
font-style: italic;
font-size: 23px;
}
